html, body { margin: 0; padding: 0; height: 100%; }
*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
header {
  position: sticky;
  z-index: 1000;
  top: 0;
  width: 100%;

}
.logo-div{
  padding: 0;
  display: inline-block;
  position: relative;
  align-items: center;
  background-color: darkviolet;
  border-radius: 0 0 30px 30px;
  width: 100%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.37) 0 1px 5px 2px;
}
.logo{
  margin: 10px;
  display: inline-block;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
}
.logo > img{
  width: 60px;
}
.tasks{
  float: right;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  list-style: none;
}
.tasks li{
  float: left;
  margin: 0 10px;
}
.tasks a{
  display: block;
  padding: 20px 30px;
  text-align: center;
  border-radius: 5px;
  background-color: blueviolet;
  box-shadow: black 2px 2px 1px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.tasks li:last-child a{
  border-top-right-radius: 25px;
}
.tasks li:first-child a{
  border-bottom-left-radius: 25px;
}
.tasks a:hover{
  background-color: aqua;
  cursor: pointer;
}
div {
  padding: 20px;
}


.wrapper {
  background-color: #686868;
  width: 600px;
  height: 400px;
  margin: 100px auto;
}

.black-box {
  display: block;
  position: absolute;
  right: 45%;
  margin: 0 auto;
  top: 220px;
  width: 250px;
  height: 250px;
  background-color: black;
  overflow: visible;
  box-shadow: rgba(0, 0, 0, 0.57) 2px 10px 20px;
  z-index: 2;
}
.black-box img {
  overflow: visible;
  position: absolute;
  transform: translateY(35%) translateX(35%);
}
.black-box p {
  color: rgba(255, 255, 255, 0.73);
  position: absolute;
  margin:10px;
  left: 0;
  bottom: 0;
  font-size: 60px;
  font-weight: 600;
}
.buttons {
  position: absolute;
  left: -35px;
  top: 30%;
}
.black-box .buttons button {
  float: left;
  text-align: center;
  width: 35px;
  height: 35px;
  margin:0;
  background-color: rgba(255, 255, 255, 0.73);
  border:0;
}
.week-temperature {
  background-color: lightgray;
  position: absolute;
  width: 250px;
  height: 125px;
  right: 40%;
  top: 400px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.52) 5px 5px 5px;
}
.temperature-list {
  margin:0;
  height: 100%;
  width: 100%;
  float: right;
  list-style-type: none;
  background-color: #e1e1e1;
  padding: 0;
}
.day-box {
  text-align: center;
  height: 100%;
  float: left;
  width: 19.4%;
}
.day-box p {
  position: absolute;
  transform: translateX(10px);
}
.day-box p:first-child {
  font-size: 10px;
  color: gray;
  bottom: 25px;
}
.day-box p:nth-child(2) {
  bottom: 0;
}
