* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(to right, navajowhite, darkorange);
}

form {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: antiquewhite;
}

fieldset {
  border: none;
  margin: 20px 0;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
input:hover,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

input:focus,
select:focus {
  outline: none;
  border-color: lawngreen;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

button {
  background-color: #800080;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.data-fieldset lable{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
