html, body { margin: 0; padding: 0; height: 100%; }
*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
header {
  position: sticky;
  z-index: 1000;
  top: 0;
  width: 100%;

}
.logo-div{
  padding: 0;
  display: inline-block;
  position: relative;
  align-items: center;
  background-color: darkviolet;
  border-radius: 0 0 30px 30px;
  width: 100%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.37) 0 1px 5px 2px;
}
.logo{
  margin: 10px;
  display: inline-block;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
}
.logo > img{
  width: 60px;
}
.tasks{
  float: right;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  list-style: none;
}
.tasks li{
  float: left;
  margin: 0 10px;
}
.tasks a{
  display: block;
  padding: 20px 30px;
  text-align: center;
  border-radius: 5px;
  background-color: blueviolet;
  box-shadow: black 2px 2px 1px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.tasks li:last-child a{
  border-top-right-radius: 25px;
}
.tasks li:first-child a{
  border-bottom-left-radius: 25px;
}
.tasks a:hover{
  background-color: aqua;
  cursor: pointer;
}
div {
  padding: 20px;
}
.column-box {
  column-count: 3;
  column-gap: 35px;
  column-width: 150px;
  column-rule: 5px dashed red;
}
.p-img{
  width: 200px;
  float: right;
  margin: 20px;
}
.block_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 5px;
  justify-content: center;
}

.block_list li {
  width: 400px;
  margin: 35px;
  padding: 5px;
  box-sizing: border-box;
}

.block_title {
  font-size: 20px;
  font-weight: bold;
}

.first_block {
  border-radius: 20px;
  border: 5px solid darkviolet;
}

.second_block {
  border: 5px solid darkviolet;
  border-radius: 70px 1px 70px 1px;
}

.third_block {
  border: 5px solid darkviolet;
  border-radius: 50px 200px / 50px 200px;
}

.fourth_block {
  border: 20px solid;
  border-color: darkviolet violet;
  border-radius: 150px / 50px;
}

.fifth_block {
  border: 20px solid;
  border-radius: 150px 50px / 75px 25px;
  border-color: violet darkviolet;
}

.sixth_block {
  border: 30px solid;
  border-bottom-right-radius: 100%;
  border-color: violet violet violet darkviolet;
}

.seventh_block {
  border-image-slice: 27% 27% 27% 27%;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 30px 30px 30px 30px;
  border-image-repeat: stretch stretch;
  border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-1.png");
  border-style: solid;
}

.eight_block {
  border-image-slice: 15 15 15 15;
  border-image-width: 18px 18px 18px 18px;
  border-image-outset: 30px 30px 30px 30px;
  border-image-repeat: round round;
  border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-1.png");
  border-style: solid;
}

.ninth_block {
  border-image-slice: 28 29 28 28;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 30px 30px 30px 30px;
  border-image-repeat: repeat repeat;
  border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-1.png");
  border-style: solid;
}

.tenth_block {
  background-color: white;
  border: 20px solid white;
  padding: 5px;
  border-image-source: url("/img/border_4.png");
  border-image-slice: 20;
}

.eleventh_block {
  background-color: white;
  border: 20px solid white;
  padding: 5px;
  border-image-source: url("/img/border_5.png");
  border-image-slice: 20;
}

.twelfth_block {
  background-color: white;
  border: 20px solid white;
  padding: 5px;
  border-image-source: url("/img/border_6.png");
  border-image-slice: 20;
}

.span-task3{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.text-in-span{
  color:white ;
}
.column-box_task3{
  margin: 50px auto;
  max-width: 90%;
}
.block_13{
  margin-bottom: 20px;
  background: rgb(80, 11, 11);
  color: white;
  border-radius: 50px;
  padding: 30px;
  width: 100%;
  height: 250px;
}
.block_14{
  margin-bottom: 20px;
  background: rgb(163, 79, 79);
  color: white;
  border-radius: 50px;
  padding: 30px;
  width: 100%;
  height: 750px;

}
.block_15{
  background-color: rgba(194, 25, 25, 0.604);
  padding: 20px;
  margin: 20px;
  border-radius: 50px;
  width: 500px;
  float: left;
  margin-left: 80px;
}
.block_16{
  background-color: rgba(194, 25, 25, 0.604);
  padding: 20px;
  margin: 20px;
  border-radius: 50px;
  width: 500px;
  float: right;
  margin-right: 80px;
}

.inside_blocks {
  display: flex;
  column-count: 2;
  margin-top: 20px;
}
.p-padding{
  margin-top: 500px;
}
.clearfix::after{
  content:"";
  clear: both;
  display: table;
}









