a{
  color: purple;
}
.green_ref{
  color: green;
}
.thirdl{
  list-style-type: square;
}
.secondl{
  list-style-image: url("li.svg");
}
ul li ul{

  list-style: none;
}

.thirdl a {
  text-decoration: none;
}

ol li{
  list-style-position: inside;
}
